body {
    color: #42485A;
    font-family: Helvetica,Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    text-rendering: optimizelegibility;
    background-color:  #EFEFEF;
}

/* =general
-------------------------------------------------------------- */
a {
	color:#70a629;
	font-weight:400;
	text-decoration:none;
}

h1 a, h1 a:hover {
	color: #42485A;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	height:auto;
	max-width:100%;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: bold;
    line-height: 120%;
    word-wrap: break-word;
    margin: 1.07em 0 0.535em;
}

h1 {
    font-size: 1.5em;
    border-top: 1px solid gray;
    margin-top: 50px;
    padding-top: 50px;
}

h2 {
    color: #777777;
    font-size: 1.3em;
}


button {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));;
    background: -webkit-linear-gradient(@{origin}, #fff 0%, #ededed 60%);
    background: -moz-linear-gradient(@{origin}, #fff , #ededed);
    background: -ms-linear-gradient(@{origin},#fff 0%,#ededed 60%);;
    background: -o-linear-gradient(@{origin},#fff 0%,#ededed 60%);
    background: linear-gradient(@{origin}, #fff 0%, #ededed 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#fff, endColorstr='#ededed',GradientType=0 );;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    color: #70a629;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;
    margin-bottom: 3px;
    padding: 0 5px;
    cursor: pointer;
}
/* =Header
-------------------------------------------------------------- */
#header #logo {
	float:left;
	margin: 20px 20px 20px 10px
}

#header #logo .site-name {
	display:block;
	font-size:2em;
	padding-top:20px;
}

#header #logo .site-name a {
	font-weight:700;
}

#header #logo .site-description {
	display:block;
	font-size:14px;
	margin:10px 33px 10px 0;
}

/* =Top Menu
-------------------------------------------------------------- */
.top-menu {
	text-align: right;
	margin:10px 0 0 0;
}

.top-menu li {
	display:inline;
	list-style-type:none;
}

.top-menu li a {
	border-left:1px solid #ccc;
	color:#333;
	font-size:11px;
	padding: 0 8px;
}

.top-menu > li:first-child > a {
	border-left:none;
	padding:0 8px 0 0;
}

.top-menu li a:hover {
	color:#333;
}

.link-to-top {
	font-size: 0.5em;
}

/* = Menu
-------------------------------------------------------------- */
.menu {
	margin: 10px;
}

/* = Content
-------------------------------------------------------------- */
.container {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 25px;
}

.wrapper {
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 6px 6px 6px 6px;
    clear: both;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

.box {
    color: #DFDFDF;
    background-color: #262626;
    border-radius: 7px;
    padding: 5px 20px;
    margin: 2px 20px;
}

.box.correct {
    color: white;
    background: #70a629;
}

.box.incorrect {
    color: white;
    background: #76210f;
}

.box * {
    word-wrap: break-word;
}

.box .headline {
    color: white;
    font-family: monospace;
    font-size: 180%;
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase;
}

.box ul {
    list-style-type: upper-roman;
    margin: 5px 0 0 0;
}

.box ul li ol, pre {
    color: #EBEFE7;
    padding: 8px;
    margin: 10px 0px;
    background-color: #96979d;
    border: 1px dashed #E6EBE0;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    overflow: auto;
    max-height: 160px;
}

pre {
    background-color: #585858;
}
.box ul li ol li {
    border-top: 1px solid #B4B5BB;
    padding: 5px 3px 0 0;
}
.box ul li ol li:first-child {
    border-top: 0;
    padding-top: 0;
}

span.highlight {
    color: #EBEFE7;
    padding: 2px;
    margin: 2px 2px;
    background-color: #585858;
    border: 1px dashed #E6EBE0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

@media all and (max-width: 640px) {
    .container {
        padding: 0;
    }
    .wrapper {
        padding: 8px;
    }
    .box {
        padding: 10px;
        margin: 25px 0;
    }
    .box ul {
        margin: auto;
    }
}

.small {
	font-size: xx-small
}
